.spinner{
    height: 50px;
    width: 50px;
    position: relative;
    /* right: 400px; */
    top : 300px;
    left : 50%;
    border-radius: 50%;
    /* background-color: red; */
    border: 5px solid #ccc;
    border-top-color: #007bff;
    animation: spin 1s linear
    infinite;
}
.spinner1{
    height: 50px;
    width: 50px;
    position: relative;
    right: 100px;
    border-radius: 50%;
    background-color: green;
    border: 5px solid #ccc;
    border-top-color: #007bff;
    animation: spin 1.5s linear
    infinite;
}
.spinner2{
    height: 50px;
    width: 50px;
    position: relative;
    right: 200px;
    border-radius: 50%;
    background-color: violet;
    border: 5px solid #ccc;
    border-top-color: #007bff;
    animation: spin 4s linear
    infinite;
}
.spinner3{
    height: 50px;
    width: 50px;
    position: relative;
    right: 300px;
    border-radius: 50%;
    background-color: red;
    border: 5px solid #ccc;
    border-top-color: #007bff;
    animation: spin 5s linear
    infinite;
}

@keyframes spin{
    0%{
          transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}